<!DOCTYPE html>
<html>
  <head>
    <title>Switter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>SWITTER</h1>
    <% if logged_in? %>
      <a href="/sweets/new">Post</a>
      <a href="/login">Logout</a>
    <% else %>
      <a href="/login">Login</a>
    <% end %>
    <%= yield %>
  </body>
</html>
